<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Photo Voting Application</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <meta charset="utf-8">
 </head>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/welcome"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login"><span class="glyphicon glyphicon-user"></span> Log In</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/logout"><span class="glyphicon glyphicon-user"></span> Log Out <span sec:authentication="name"></span> </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right">
                    <a href="/previousWinners"><span class="glyphicon glyphicon-book"></span> Previous Winners</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>

</body>